*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #0c2340;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #2b5797;
}

h1 {
    font-size: 40px;
}

.container_logo .logo{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    position: absolute;
    margin-left: 450px;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li input{
    padding: 5px;
    border: 1px solid #2b5797;
}

nav ul li button {
    background-color: #2b5797;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

a:hover {
    color: #2b5797;
}

a:active {
    color: #ffcc00;
}

body{
    background-image: url(Imagenes/planetas-en-el-espacio_1920x1080_xtrafondos.com.jpg);
}

.container_planets{
    display: flex;
    align-items: center;
}

.planets{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-left: 250px;
}

.planets:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.planets_text{
    width: 400px;
    height: 200px;
    overflow: scroll;
    margin-left: 100px;
    overflow-x: hidden;
}

.container_planetas{
    display: flex;
    align-items: center;
}

.sistema_solar1{
    width: 400px;
    height: 300px;
    position: relative;
    z-index: 3;
    left: 100px;
    border-radius: 20px;
}

.sistema_solar2{
    width: 400px;
    height: 300px;
    position: relative;
    z-index: 2;
    left: 50px;
    top: 100px;
    border-radius: 20px;
}

.planeta{
    width: 400px;
    height: 300px;
    position: relative;
    z-index: 1;
    top: 200px;
    border-radius: 20px;
}

.planeta:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.sistema_solar1:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.sistema_solar2:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

h3{
    margin-top: 250px;
    font-size: 30px;
    padding-left: 35%;
}

.planetas_sistema{
    margin-top: 50px;
    display: flex;
}

.p_system{
    width: 500px;
    height: 400px;
    margin-left: 150px;
}

.system{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 20px;
}

.system:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.container {
    height: 400px;
    width: 400px;
    position: relative;
}

.sun {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: 150px;
    left: 150px;
}

.globe.earth {
    background: aqua;
    height: 30px;
    right: 28px;
    top: 28px;
    width: 30px;
}

.globe.moon {
    width: 12px;
    height: 12px;
    background: #d6d6d6;
    right: 100px;
    top: 0;
}

.globe {
    border-radius: 50%;
    position: absolute;
}

.orbit-earth {
    position: relative;
    animation: orbit-earth 36.5s linear infinite;
    height: 300px;
    left: 50px;
    top: 50px;
    width: 300px;
}

.orbit-moon {
    animation: orbit-moon 2.7s linear infinite;
    height: 80px;
    left: -25px;
    top: -25px;
    width: 80px;
}

.orbit {
    position: relative;
    border: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: center;
}

@keyframes orbit-earth {
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit-moon {
    to {
        transform: rotate(360deg);
    }
}

.p_conclusion{
    height: 400px;
    width: 500px;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 790px;
    margin-top: 50px;
}

.container{
    display: flex;
    bottom: 300px;
    left: 200px;
}

.p_final{
    margin-left: 400px;
    border-radius: 40px;
}

.p_final:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

footer nav ul li a img{
    height: 5%;
    width: 5%;
}

.whatsapp{
    margin-left: 550px;
}
